* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

.index{
    display: flex;
    justify-content: center;
}

.dropdown{
    margin-top: 100px;
    margin-right: 50px;
}

.productsContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
    margin-left: 50px;
}

.productsContainer .premProducts img{
    width: 195px;
    height: 280px;
    transition: 1s ease;
}

.productsContainer .premProducts img:hover{
    transform: scale(1.1);
}

.productsContainer .premProducts figure .editorial{
    margin-top: 10px;
}

.productsContainer .premProducts figcaption{
    padding-top: 5px;
}
